.unit {
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 auto;
}

.unit.calendar-day {
  /* border: 2px solid var(--secondary-light); */
  padding: 2rem 1rem;
}

.unit.bordered {
  border: 2px solid var(--secondary-light);
  border-radius: 0.5rem;
}

/* Positioning Rules */
.unit.centered {
  justify-content: center;
  align-items: center;
}

.unit.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.unit.flex-vertical {
  flex-direction: column;
}

.unit.button-group-flex {
  flex-direction: row;
}

.unit.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  gap: 0.5rem;
}

.unit.dropdown-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'item-1'
    'item-2'
    'item-3'
    'item-4';
}

.unit.gap-0 {
  gap: 0;
}

.unit.gap-sm {
  gap: 0.5rem;
}

.unit.gap-lg {
  gap: 2rem;
}

.unit.gap-xl {
  gap: 3rem;
}

/* padding sm */

.unit.padding-left-sm {
  padding-left: 0.5rem;
}
.unit.padding-right-sm {
  padding-right: 0.5rem;
}
.unit.padding-top-sm {
  padding-top: 0.5rem;
}
.unit.padding-bottom-sm {
  padding-bottom: 0.5rem;
}

/* margin sm */

.unit.margin-left-sm {
  margin-left: 0.5rem;
}
.unit.margin-right-sm {
  margin-right: 0.5rem;
}
.unit.margin-top-sm {
  margin-top: 0.5rem;
}
.unit.margin-bottom-sm {
  margin-bottom: 0.5rem;
}

/* padding md */

.unit.padding-left-md {
  padding-left: 1rem;
}
.unit.padding-right-md {
  padding-right: 1rem;
}
.unit.padding-top-md {
  padding-top: 1rem;
}
.unit.padding-bottom-md {
  padding-bottom: 1rem;
}

/* margin md */

.unit.margin-left-md {
  margin-left: 1rem;
}
.unit.margin-right-md {
  margin-right: 1rem;
}
.unit.margin-top-md {
  margin-top: 1rem;
}
.unit.margin-bottom-md {
  margin-bottom: 1rem;
}

/* padding lg */

.unit.padding-left-lg {
  padding-left: 2rem;
}
.unit.padding-right-lg {
  padding-right: 2rem;
}
.unit.padding-top-lg {
  padding-top: 2rem;
}
.unit.padding-bottom-lg {
  padding-bottom: 2rem;
}

/* margin lg */

.unit.margin-left-lg {
  margin-left: 2rem;
}
.unit.margin-right-lg {
  margin-right: 2rem;
}
.unit.margin-top-lg {
  margin-top: 2rem;
}
.unit.margin-bottom-lg {
  margin-bottom: 2rem;
}

/* padding xl */

.unit.padding-left-xl {
  padding-left: 4rem;
}
.unit.padding-right-xl {
  padding-right: 4rem;
}
.unit.padding-top-xl {
  padding-top: 4rem;
}
.unit.padding-bottom-xl {
  padding-bottom: 4rem;
}

/* margin xl */

.unit.margin-left-xl {
  margin-left: 4rem;
}
.unit.margin-right-xl {
  margin-right: 4rem;
}
.unit.margin-top-xl {
  margin-top: 4rem;
}
.unit.margin-bottom-xl {
  margin-bottom: 4rem;
}

/* margin xxl */

.unit.margin-left-xxl {
  margin-left: 8rem;
}
.unit.margin-right-xxl {
  margin-right: 8rem;
}
.unit.margin-top-xxl {
  margin-top: 8rem;
}
.unit.margin-bottom-xxl {
  margin-bottom: 8rem;
}

.unit.justify-content-left {
  justify-content: flex-start;
}

.unit.justify-content-center {
  justify-content: center;
}

.unit.justify-content-right {
  justify-content: flex-end;
}

.unit.align-top {
  align-items: flex-start;
}

.unit.align-center {
  align-items: center;
}

.unit.align-bottom {
  align-items: flex-end;
}

/* Align items vertically */
.unit.align-items-start {
  align-items: start;
}
.unit.align-items-center {
  align-items: center;
}
.unit.align-items-end {
  align-items: end;
}
.unit.align-items-stretch {
  align-items: stretch;
}

/* Justify items horizontally (mostly relevant for grid) */
.unit.justify-items-start {
  justify-items: start;
}
.unit.justify-items-center {
  justify-items: center;
}
.unit.justify-items-end {
  justify-items: end;
}
.unit.justify-items-stretch {
  justify-items: stretch;
}

/* Justify self (mostly relevant for grid) */

.unit.align-self-top {
  align-self: start;
}
.unit.align-self-center {
  align-self: center;
}
.unit.align-self-bottom {
  align-self: end;
}

.unit.justify-self-left {
  justify-self: start;
}
.unit.justify-self-center {
  justify-self: center;
}
.unit.justify-self-right {
  justify-self: end;
}

/* Col Span */

[class*='col-span-'] {
  grid-column-end: span var(--col-span, 1);
}

.unit.col-span-1 {
  grid-column: span 1;
}
.unit.col-span-2 {
  grid-column: span 2;
}
.unit.col-span-3 {
  grid-column: span 3;
}
.unit.col-span-4 {
  grid-column: span 4;
}

.unit.row-span-1 {
  grid-row: span 1;
}
.unit.row-span-2 {
  grid-row: span 2;
}
.unit.row-span-3 {
  grid-row: span 3;
}
