.auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  color: #1f8a9a;
  font-size: 1rem;
}

.auth-form h2 {
  text-align: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  color: #2edffa;
  font-size: 3rem;
}

.form-group {
  margin-bottom: 0.3rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.1rem;
}

.form-group input[type='text'],
.form-group input[type='email'],
.form-group input[type='password'] {
  width: 100%;
  padding: 0.35rem;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  color: #4fcfe2;
  font-size: 1rem;
}

.form-group input[type='text']:focus,
.form-group input[type='email']:focus,
.form-group input[type='password']:focus {
  outline: none;
  border-color: #2edffa;
  background-color: rgba(255, 255, 255, 0.1);
}

.auth-form button[type='submit'] {
  width: 100%;
  padding: 0.8rem;
  background-color: #1f8a9a;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-bottom: 0.7rem;
}

.auth-form button[type='submit']:hover {
  background-color: #2edffa;
  color: #1f8a9a;
}

.auth-toggle {
  padding: 0.5rem 2.5rem;
  margin-left: 1rem;
}

@media screen and (max-width: 430px) {
  .auth-toggle {
    padding: 0.5rem 2.5rem;
    margin-top: 0.5rem;
    margin-left: 6.5rem;
  }
}

.weak-password-prompt {
  font-size: 0.7rem;
  color: rgba(183, 21, 21, 0);
}

.weak-password-prompt.show {
  color: rgb(232, 68, 68);
}
